* {
    background-color: rgb(254, 254, 254);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.index img{
    height:100px;
    width:100px;
    box-sizing: border-box;
    padding:10px;
}

  
.plantdescription{
    text-align: justify;
    width:980px;
    margin:auto
}

.topbanner{
    background-color: rgb(255, 255, 255);
    margin:auto
}
.topbanner .topheading{
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(1, 11, 7);
    font-size: 30px;
    font-weight: bold;
    height:50px;
    width:370px;
    margin: 0 auto;
    padding-top:5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    display:table;
}

/* Navigation Design*/
.navigation{
    display:block;
    width:20%;
    margin: auto;
    text-align:center;
}

.nav_butn{
    display:inline-block;
    padding:10px;
    background-color:powderblue;
    color: black;
    cursor: pointer;
    border: none;
}

.nav_butn a:link, .nav_butn a:visited{
    background-color:powderblue;
    color: black;
    text-decoration: none;

}

.nav_butn a:hover{
    background-color:aqua;
    text-decoration: none;
}

.nav_butn:hover{
    background-color: aqua;
}


/*Heading designs*/
.midheading{
    padding:15px;
    text-align: center;
    margin:0 auto;
    font-size:20px;
    font-weight: bold;

}

.contentheading{
    text-align: center
}

.recipe_text .title_text{
    font-weight: bold;
}
.recipe_text .ingredients{
    font-style:italic
}

