* {
    background-color: rgb(254, 254, 254);
    font-family: Helvetica;
}

.index img{
    height:100px;
    width:100px;
    box-sizing: border-box;
    padding:10px;
}

.plantdescription{
    text-align: justify;
    width:980px;
    margin:auto
}

.topheading{
    text-align: center;
}

.contentheading{
    text-align: center
}

.recipe_text .title_text{
    font-weight: bold;
}
.recipe_text .ingredients{
    font-style:italic
}

